body {
    font-family: "Comfortaa";
    background-color: #fffafa;
}
h1, h2, h3, h4, h5, h6, .h01, .h02, .h03, .h04, .h05, .h06 {
	font-family: "Comfortaa";
}
h5, .h05, h6, .h06 {
	font-family: "Comfortaa";
}
p, a {
  font-family: "Comfortaa";
}